body {
  background-color: lightgray;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
}

.row {
  display: flex;
  flex-grow: 1;
}

.cell {
  flex-grow: 1;
  background-color: whitesmoke;
  outline: .01em solid gray;
}

.master-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.device-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-container {
  display: flex;
}

.title-container,
.device-bottom,
.slider-container,
.color-container {
  background-color: rgb(220, 60, 60);
}

.slider-container,
.color-container {
  width: 120px;
}

.title-container {
  height: 60px;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
}

.device-bottom {
  height: 60px;
  border-radius: 0px 0px 25px 25px;
}

.game-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.hovered {
  background-color: black;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.range-container {
  transform: rotate(270deg);
}

.slider {
  -webkit-appearance: none;
  background: whitesmoke;
  border-radius: 7.5px;
  outline: none;
  width: 200px;
}

.slider::-webkit-slider-runnable-track {
  height: 15px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background: yellow;
  margin-top: -5px;
}

.board-size {
  font-size: 24px;
  margin-bottom: 90px;
}